[defaults]
inventory= /home/ganapathi/Documents/Ansible-Network-Automation/Ansible/Inventories/prod/inventory.ini
vault_password_file = .vault_pass
host_key_checking = False
timeout = 15
deprecation_warnings = False
