[defaults]
inventory=/home/ganapathi/Documents/Ansible-Network-Automation/Ansible/Inventories/prod/inventory.ini
vault_password_file=/home/ganapathi/Documents/Ansible-Network-Automation/Ansible/.vault_pass
host_key_checking=False
deprecation_warnings=False